---
layout: default
title: Healthier, innovative urgent care clinic
description: Healthier is an innovative urgent care clinic based in LA

---
<header class="split-header caresect-header healthier-header">
	<div class="right-header">

	</div>

	<div class="container">
				{% include navbar.html %}		
	</div>
		<div class="container">
			<div class="text-content">
					<h1 class="before-line reveal-text">Healthier, innovative urgent care clinic, LA</h1>
					<p class="reveal-text">Melbourne's leading private psychiatric clinic, providing the highest level of psychiatric care for the last five years</p>
			</div>
		</div>
</header>

<section class="company-intro">
		<div class="container">
			<div class="company-intro-holder">
				<div class="headline-row">
					<h2 class="light reveal-text">Advertise less, <br> Strategize more</h2>
				</div>
				<div class="text-row reveal-text">
					<p>After countless resources healthier spent on online ads and social media marketing, they faced the underlining problem: patients didn't like ads, they seemed intrusive and out of place.</p>
					<p>50% of the clicked ads were unintentional which lead to less qualified patients and low conversion rate.</p>
					<p>We took a different route to healthier's marketing  by implementing a strategic marketing approach focused on <strong>creating and distributing</strong> valuable content </p> 
					<p>That alone attracted and retained a clearly defined audience — and, ultimately <strong>driving profitable</strong> patient actions.</p>
					<h3 class="light-headline underline">Work done</h3>
					<ul>
						<li>Re-branding</li>
						<li>Marketing Strategy</li>
						<li>Website</li>
					</ul>
				</div>
			</div>
		</div>
</section>

<section class="healthier logo-showcase">
	<div class="showboard">
		<img loading="lazy" src="../../work/healthier/logo.png" alt="healthier logo" />		
	</div>
	<div class="container">
				<div class="logo-variations">
				<div class="logo-black">
					<div class="reveal-image-container">
						<div class="logo-black reveal-image">
							<img loading="lazy" src="../../work/healthier/sub-logo-1.png" alt="healthier logo variations" />
						</div>					
					</div>
				</div>
				<div class="white-black">
					<div class="reveal-image-container">
						<div class="logo-black reveal-image">
							<img loading="lazy" src="../../work/healthier/sub-logo-2.png" alt="healthier logo variations" />
						</div>					
					</div>					
				</div>
		</div>
	</div>
</section>

<section class="healthier-color-schemes">
	<div class="container">
			<div class="row-1">
				<ul class="swatch-list">
					<li class="swatch">
						<div class="swatch-color color-green"></div>
						<div class="swatch-info reveal-text">
							<p>Ruby</p>
							<p>#D8334A</p>
							<p>rgb(216,51,74)</p>
						</div>
					</li>
				</ul>
			   <ul class="swatch-list">
					<li class="swatch">
						<div class="swatch-color color-grey"></div>
						<div class="swatch-info reveal-text">
							<p>Green</p>
							<p>#D8334A</p>
							<p>rgb(216,51,74)</p>
						</div>
					</li>
			  </ul>				
			</div>
			<div class="row-1">
		   <ul class="swatch-list">
				<li class="swatch">
					<div class="swatch-color color-green-light"></div>
					<div class="swatch-info reveal-text">
						<p>Green</p>
						<p>#D8334A</p>
						<p>rgb(216,51,74)</p>
					</div>
				</li>
		  </ul>
		   <ul class="swatch-list">
				<li class="swatch">
					<div class="swatch-color color-green-dark"></div>
					<div class="swatch-info reveal-text">
						<p>Green</p>
						<p>#D8334A</p>
						<p>rgb(216,51,74)</p>
					</div>
				</li>
		  </ul>				
			</div>
	</div>
</section>


<section class="mobile-ui"></section>

<section class="responsive-design">
	<div class="container">
			<h2 class="light reveal-text">Memorable patient experience, <br>from all devices.</h2>		
			
			<img loading="lazy" src="../../work/healthier/responsive.png" alt="healthier responsive design" />
	</div>
</section>

<div class="printed-material">
	<div class="container">
		<div class="printed-holder">
				<h2 class="light reveal-text">Digital is nice, but there is something about the smell of ink</h2>
				<img loading="lazy" src="../../work/healthier/book.jpg" alt="healthier printed material" />
		</div>
	</div>
</div>


<div class="healthier website-section">
	<div class="container">
		<h2 class="light reveal-text">It all comes down to<br>the website</h2>
		<img loading="lazy" class="skew" src="../../work/healthier/website.jpg" alt="Caresect Website" />
	</div>
</div>

{% include sidebar.html %}
{% include footer.html%}
