<header class="split-header caresect-header">
	<div class="right-header">
		<video width="600" height="500" playsinline loop preload autoplay muted>
		  <source src="../../work/caresect/hero-video.webm" type="video/webm">
<!-- 		  <source src="../../work/caresect/map.ogg" type="video/ogg">
 -->		  Your browser does not support the html5 media player.
		</video>		
	</div>

	<div class="container">
				{{ partial "navbar.html" . }}
	</div>
		<div class="container centered-container">
			<div class="text-content">
					<h1 class="before-line reveal-text">Caresect, psychotherapy clinic (Design Concept)</h1>
					<p class="reveal-text">The uprising private psychiatric clinic, Caresect, providing the highest level of psychiatric care in the last five years</p>
			</div>
		</div>
</header>
