<header class="split-header caresect-header healthier-header">
	<div class="right-header">

	</div>

	<div class="container">
				{{ partial "navbar.html" . }}
	</div>
		<div class="container">
			<div class="text-content">
					<h1 class="before-line reveal-text">Healthier, Safest community hospital, (Design Concept)</h1>
					<p class="reveal-text">Good health begins with safe communities that have access to healthy foods, secure places for its people, this is what healthier aims for.</p>
			</div>
		</div>
</header>
