<header class="split-header caresect-header rodbell-header massiveloop-header">
	<div class="right-header">
		<img loading="lazy" class="" src="../../work/massiveloop/vr-player.png" alt="picture of a vr player" />
	</div>
	<div class="container">
			 {{ partial "navbar.html" . }}
	</div>
		<div class="container">
			<div class="text-content">
					<h1 class="before-line reveal-text">Massive Loop, VR platform, (client work)</h1>
					<p class="reveal-text">Massive loop, A new, immersive, and high-fidelity VR Metaverse built for creators and players.</p>
			</div>
		</div>
</header>
