<script type="text/javascript" src="../{{.Site.BaseURL}}assets/js/stickyFormPolyfill.js"></script>
<script type="text/javascript" src="../{{.Site.BaseURL}}assets/js/splitText.js"></script>
<script type="text/javascript" src="../{{.Site.BaseURL}}assets/js/ScrollTrigger.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
<script type="text/javascript" src="../{{.Site.BaseURL}}assets/js/mainx.js"></script>
<script type="text/javascript" src="../{{.Site.BaseURL}}assets/js/tilt.js"></script>

