<header class="header-contact">
		<div class="container">
					{{ partial "navbar.html" .}}
		</div>
		<div class="container">
			<div class="header-content-contact">
				<h3 class="light reveal-text">In the interest of saving us both some time, here are a few reasons to <i>not</i> get in touch:</h3>
				<ul style="text-align:left;">
					<li><b>You're hunting around for the lowest price</b>. I don't compete on prices. I only provide high quality work that is worth investing in. If you’re just looking for someone to get the work done and are not interested in how, then you should probably be looking somewhere else.</li>
					<br/>
					<li><b>You need someone to do quick work</b>. Quick work often means less quality work; and I don’t offer that.</li>
					<br />
					<li><b>You're a developer looking for help troubleshooting and fixing your project</b>. If you need help fixing that HTML/CSS/JS issue, please post a question to StackOverflow and email me a link to the question at slimanbaghouri@gmail.com. And I’ll do my best to help when I can.</li>
					<br />
					<li><b>You want to collaborate with me on a side project</b>. While I appreciate you thinking of me to collaborate with on your ideas, I've already got my plate full with my own work and side projects and am not considering working on more.</li>
				</ul>
				<hr>
				<h2 class="light reveal-text">If you’re still with me, then I’d love to hear from you and learn more about your work/company.</h2>
				<p><a style="color:#00F" href="mailto:hi@slimanbaghouri.com">Drop me a line</a> at <b>hi@slimanbaghouri.com</b>. The more details about your project you include in your message, the faster I will get back to you. You’ll hear back from me within 1–2 business days.</p>
			</div>
		</div>
</header>