<header class="home-header-p">
	<div class="black">
		<div class="container">
			<nav>
				<a class="hover-this" target="_blank" href="/case-studies/"><span>Work</span></a>
				<a class="hover-this" target="_blank" href="/about"><span>About</span></a>
				<a class="hover-this" target="_blank" href="https://github.com/Sliman-Baghouri"><span>Github</span></a>
				<a class="hover-this" target="_blank" href="/contact"><span>Contact</span></a>
                <div class="cursor"></div>
			</nav>
			<div class="text-content">
				<h2>Hi, I’m Sliman — Front End UI / UX Developer</h2>
				<!-- <p>I help brands build modern, resilient, and fluid web user interfaces and design systems, with a strong focus on responsive design, performance, and usability. </p> -->
				<p style="width: 600px;font-style:italic;margin: 0;">“Sliman delivers. Whatever problems there were, he solved. Wait, there's more: he went beyond what was requested, made constructive, useful suggestions to give us a better product.” <br> <br>— Dr. Nigel MacLennan, PsyPerform </p>
				<a href="/case-studies" target="_blank">
				<button class="CTA-1">
					<span>Projects</span> 
					<svg width="69" height="69" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.375 34.5h40.25M34.5 14.375L54.625 34.5 34.5 54.625" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</button>
				</a>
			</div>		
		</div>
	</div>
	<div class="white">
<!-- 			<div class="logo">
				<img src="assets/img/slimanbaghouri-logo.png" alt="slimanbaghouri-logo.png">
			</div>
 -->

<!-- 		<div class="w-title-container">
		</div>
 -->

		<div class="container">
			<div class="project-thumbnails">
				
			<a target="_blank" href="/case-studies/landingpages/">
				<img data-tilt data-tilt-scale="1.1"  draggable=false src="https://i.ibb.co/PWJ5qpw/Webp-net-resizeimage-2.png" alt="Project One Thumbnail">
			</a>							
				<a target="_blank" href="/case-studies/rodbell/">
					<img data-tilt data-tilt-scale="1.1"  draggable=false src="https://i.ibb.co/Qm4HCG1/Webp-net-resizeimage-7.png" alt="Project Two Thumbnail">
				</a>

			<a target="_blank" href="/case-studies/softswitch/">
			<img data-tilt data-tilt-scale="1.1"  draggable=false src="https://i.ibb.co/j4BQKzP/Webp-net-resizeimage-12.png" alt="Project Four Thumbnail">			
				</a>

				
			</div>
			<div class="project-thumbnails">
			<a target="_blank" href="/case-studies/caresect/">
				<img data-tilt data-tilt-scale="1.1"  draggable=false src="https://i.ibb.co/92ry9x3/Webp-net-resizeimage-1.jpg" alt="Project Three Thumbnail">		
			</a>
			
			<a target="_blank" href="/case-studies/unnus/">
				<img data-tilt data-tilt-scale="1.1"  draggable=false src="https://i.ibb.co/Sr7DW0H/Webp-net-resizeimage-6.png" alt="Project Four Thumbnail">		
			</a>				
				
				
			</div>
			<div class="project-thumbnails">
			<a target="_blank" href="/case-studies/massiveloop/">
				<img data-tilt data-tilt-scale="1.1"  draggable=false src="https://i.ibb.co/7gxLnzt/Webp-net-resizeimage-1.png" alt="Project Four Thumbnail">		
			</a>						
			<a target="_blank" href="/case-studies/healthier/">
				<img data-tilt data-tilt-scale="1.1"  draggable=false src="https://i.ibb.co/nR3zP6m/Webp-net-resizeimage.jpg" alt="Project Four Thumbnail">	
			</a>						
								
				
			</div>
		</div>		
	</div>
</header>
