<header class="split-header caresect-header rodbell-header about-header">
	<div class="right-header">
		<img loading="lazy" class="" src="../../work/about/fg.png" alt="picture of Sliman M. Baghouri" />
	</div>
	<div class="container">
			 {{ partial "navbar.html" . }}
	</div>
		<div class="container">
			<div class="text-content">
					<h1 class="before-line reveal-text">Hi, I’m Sliman — a Front End UI / UX Developer</h1>
					<p class="reveal-text">I’m a Web user interface and design engineer based in Algeria. I like the Web platform and I want to decrease the internet's UI Suck.</p>
			</div>
		</div>
</header>
 